<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->



<div id="container"> 

  <div style="width: 100%; height: 100%; color: rgb(255, 255, 255); font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">TASKPEDIA</div>
  <div style="width: 100%; height: 100%; color: #ffffff; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">Que gusto verte, Bienvenido!</div>
  <!-- <strong>IDGS</strong> -->
  <div class=e12_7>
    <div class="e12_8"></div>
    <div class="e12_9"></div>
  </div>
  

  <ion-card mode="ios">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="usuario" label="Usuario" labelPlacement="floating" placeholder="Ingresa el usuario">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="contrasenia" label="Contraseña" labelPlacement="floating" placeholder="Ingresa la constraseña">
        </ion-input>
      </ion-item>
      <ion-button (click)="ingresar()" expand="block" shape="round">
        Ingresar
      </ion-button>
    </ion-list>
  </ion-card>

  <div style="width: 100%; height: 100%; background: rgba(255, 0, 76, 0.12); border-radius: 9999px"></div>

</div>
