#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .e12_7 { 
    background-color:rgba(224, 255, 221, 0);
    width:643px;
    height:713px;
    position:absolute;
  }
  .e12_8, .e12_9 {
    border-radius: 300px;
    position: absolute;
    width: 60%;
    padding-bottom: 60%; /* Mantén la relación de aspecto 1:1 para el círculo */
    top: 20%;
    transition: left 1s ease; /* Agregar una transición para el efecto de desplazamiento */
  }
  
  .e12_8 {
    background-color: rgba(255, 112, 155, 0.587);
    left: 20%;
  }
  
  .e12_9 {
    background-color: rgb(84, 134, 222);
    left: 120%; /* Inicialmente, mueve este elemento fuera de la vista */
  }
  
  /* Media query para estilos específicos de dispositivos móviles */
  @media (max-width: 767px) {
    .e12_8, .e12_9 {
      width: 80%;
      padding-bottom: 80%; /* Ajusta el tamaño para dispositivos móviles */
      top: 10%;
    }
    .e12_8 {
      left: 10%; /* Posición inicial para móviles */
    }
    .e12_9 {
      left: 110%; /* Inicialmente, mueve este elemento fuera de la vista en móviles */
    }
    .e12_7:hover .e12_8 {
      left: 60%; /* Mueve .e12_8 al centro al pasar el ratón por encima de .e12_7 */
    }
    .e12_7:hover .e12_9 {
      left: 10%; /* Mueve .e12_9 al centro al pasar el ratón por encima de .e12_7 */
    }
  }
  

ion-button {
  font-weight: bold;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

/* Estilo al pasar el ratón por encima del botón */
ion-button:hover {
  background-color: #1c6db2;
}
